# R/RStudio junk
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Data (customize as needed)
*.json
*.RDS
*.qs

# Ignore outputs
*.rds
*.Rdata
*.sav
*.feather
*.xlsx
*.xls

# Other OS crap
.DS_Store
Thumbs.db
